<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

    <head>
        {{- partial "head.html" . }}
    </head>

    <body class="
    {{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
    {{- print "list" -}}
    {{- end -}}
    {{- if eq $.Site.Params.defaultTheme `dark` -}}
    {{- print " dark" }}
    {{- end -}}
    " id="top">
        <aside id="sidebar" class="sidebar">
            {{ partial "sidebar.html" . }}
        </aside>
        <main class="main">
            {{- block "main" . }}{{ end }}
        </main>
        {{ partialCached "footer.html" . .Layout .Kind -}}
    </body>
    {{ $bgswitch := resources.Get "js/bgswitch.js" }}
    {{ $footJS := slice $bgswitch | resources.Concat "assets/js/foot.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script src="{{ $footJS.RelPermalink }}" integrity="{{ $footJS.Data.Integrity }}"></script>

    <script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/shareon/shareon.min.js" defer init></script>
</html>