{{- $pageurl := .Permalink }}
{{- $title := .Title }}

{{- $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{ $hashtags := newScratch}}
{{- range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end -}}

<div class="share-buttons shareon" data-title="Regelwerk Update | ButterflyAspect" data-url="" data-text="Ein update wurde veröffentlicht, die Änderungen könnt ihr in der Changelog einsehen.">
    <a class="mastodon" data-via="#ButterflyAspect"></a>
    <a class="facebook"></a>
    <a class="twitter"></a>
    <a class="linkedin"></a>
    <a class="pinterest"></a>
    <a class="reddit"></a>
    <a class="telegram"></a>
    <a class="viber"></a>
    <a class="vkontakte"></a>
    <a class="whatsapp"></a>
    <a class="pocket"></a>
</div>