<div class="sidebar-toggle" onclick="document.getElementById('sidebar').classList.toggle('toggled');"><i class="fa fa-bars" aria-hidden="true"></i></div>
<div class="navbar">
    {{- partialCached "header.html" . .Page -}}
    <nav class="sidebar-nav">
        <!--<a href="javascript:void(0)" id="closebtn" onclick="navToggle()"><i class="fas fa-bars fa-lg"></i></a>-->
        <ul class="list-unstyled">
            {{ range .Site.Menus.main }}
            <li>
                <a class="sidebar-nav-item" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        <ul class="list-unstyled download">
            <li>
                <a class="sidebar-nav-item" href="https://book.butterfly-aspect.de/grundregelwerk/allgemein.html" title="">Grundregelwerk</a>
            </li>
            <li>
                <a class="sidebar-nav-item" href="https://book.butterfly-aspect.de/magieregelwerk/allgemein.html" title="">Magieregelwerk</a>
            </li>
            <li>
                <a class="sidebar-nav-item" href="https://book.butterfly-aspect.de/konstruktionsregelwerk/allgemein.html" title="">Konstruktionsregelwerk</a>
            </li>
            <li>
                <a class="sidebar-nav-item" href="https://book.butterfly-aspect.de/stuntsbeispiele/allgemein.html" title="">Stuntbeispiele</a>
            </li>
        </ul>
    </nav>
    <footer>
        <div id="contact">
            <a href="https://matrix.to/#/#butterfly-aspect:tchncs.de"
                class="float-right clearlink" data-toggle="tooltip" data-placement="top" target="_blank"
                rel="noopener" title="Trete mit mir in Kontakt oder Chatte mit anderen Spielern."><i
                    class="fa fa-matrix-org"></i></a>
            <a href="https://rollenspiel.social/@butterflyaspect" class="float-right clearlink" data-toggle="tooltip"
                data-placement="top" target="_blank" rel="noopener"
                title="Butterfly Aspect im Fediverse."><i
                    class="fa fa-mastodon"></i></a>
            <a href="https://liberapay.com/ButterflyAspect" class="float-right clearlink" data-toggle="tooltip"
                data-placement="top" target="_blank" rel="noopener"
                title="Falls euch meine Arbeit gefällt könnt ihr mich hier unterstützen."><i
                    class="fa fa-liberapay"></i></a>
            <a href="https://codeberg.org/ButterflyAspect"
                class="float-right clearlink" data-toggle="tooltip" data-placement="top" target="_blank"
                rel="noopener" title="Hier kann man direkt per Mail einen Vorschlag oder Fehler melden."><i
                    class="fa fa-gitea"></i></a>
        </div>
        <div>
          <a href="/lizenz">Lizenz</a><span> · <a href="/imprint">Impressum</a><span> · </span><a href="/privacy">Datenschutzerklärung</a><br />
          <a href="mailto:webmaster@rollenspiel.monster">technischer Kontakt</a>
        </div>
    </footer>
</div>