*,
::after,
::before {
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary)
}

a:hover {
    color: var(--primary)
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
table {
    display: block
}


a {
    text-decoration: none
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    word-break: keep-all
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

input,
textarea {
    outline: 0
}

button,
input[type=button],
input[type=submit] {
    cursor: pointer
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme) inset
}

img {
    display: block;
    max-width: 100%
}

::-webkit-scrollbar-track {
    background: 0 0
}

.list:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg)
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius)
}

.list:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary)
}
