.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height)
}

.nav a {
    display: block
}

.logo,
#menu {
    display: flex;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle  {
    font-size: 26px;
    margin: auto 4px
}

body.dark #moon {
    vertical-align: middle;
    display: none
}

body:not(.dark) #sun {
    display: none
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap
}

#menu li+li {
    margin-inline-start: var(--gap)
}

#menu a {
    font-size: 16px
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.sidebar {
  width: calc(100vw - 40px);
  max-width: 310px;
  max-height: 100vh;
  overflow: hidden auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 98;
}
.sidebar .sidebar-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  right: -40px;
  background-color: var(--tertiary);
  cursor: pointer;
  text-align: center;
  z-index: 97;
}
.sidebar .sidebar-toggle i {
  color: #b3b3bd;
  font-size: 20px;
  line-height: 40px;
}
.navbar {
  flex-direction: column;
  min-height: 100vh;
  overflow-x: visible;
}
.navbar a:hover {
  background-color: transparent;
  color: #424242;
}
.navbar header {
  width: 250px;
  margin: 30px 0 30px;
  font-size: 19px;
}
.navbar header .logo-img {
  margin: auto 0;
}
.navbar header img {
  filter: grayscale(1) invert(1);
}
.navbar header .logo-text {
  margin: auto 0;
}
.navbar header .text small {
  font-size: 12px;
}
.navbar nav {
  flex: 1 0 auto;
}
.navbar nav a {
  border-top: none;
  padding: 0;
  display: inline-block;
  font-family: "poppins, Helvetica, Arial, sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.navbar nav .to-top {
  float: right;
  cursor: pointer;
}
.navbar nav li + li {
  margin-top: 20px;
}
.navbar nav ul ul li {
  margin-top: 10px;
}
.navbar nav .download {
  padding-top: 100px;
}
.navbar footer {
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  flex: 0 0 auto;
}
.navbar footer #contact a {
  font-size: 30px;
  padding-right: 10px;
}
.navbar footer #contact a:last-child {
  padding-right: 0;
}
@media (max-height: 590px) {
  .sidebar {
    height: 590px;
  }
  .navbar {
    height: inherit;
  }
}
@media (max-width: 1299px) {
  .sidebar {
    left: 0;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  .sidebar header {
    display: none;
  }
  .sidebar nav {
    margin-top: 40px;
  }
  .sidebar:not(.toggled) {
    width: 0;
  }
  .sidebar .sidebar-toggle {
    display: block;
    right: 0;
  }
  .sidebar.toggled .sidebar-toggle {
    display: block;
    left: unset;
    position: absolute;
    background-color: transparent;
  }
  .sidebar.toggled .sidebar-toggle i:before {
    content: "";
  }
} /*# sourceMappingURL=sidebar.css.map */
